@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Merriweather:wght@400;900&display=swap");

/* Common Styles for all the pages */

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
  font-family: "Merriweather", serif;
}

/* Header Section */
.banner {
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/BannerImage.png");
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  width: auto;
  margin: 8px;
  border-radius: 16px;
  /* margin: 50px auto; */
  text-align: center;
  color: #fff;
}

.header-title {
  font-size: 32px;
  padding: 177px 530px 16px;
  font-weight: 400;
}

.header-text {
  font-size: 72px;
  padding: 0px 344px 177px;
  font-weight: 900;
  line-height: 95px;
}

/* Body Section */

.percentage-sec {
  text-align: center;
  font-family: Inter;
}

.percenatge {
  color: #f00;
  font-size: 88px;
  font-weight: 700;
  padding: 120px 0 48px;
}

.holidays-txt {
  color: #f00;
  font-size: 24px;
  font-weight: 500;
  padding: 0 0 16px;
}

.catagories-txt {
  padding: 0 0 48px;
  color: #070211;
  font-size: 48px;
  font-weight: 700;
}

.midnight-party {
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-position: bottom center;
  background-size: cover;
  /* height: 70vh; */
  /* width: auto; */
  width: 1320px;
  height: 600px;
  margin: 8px;
  border-radius: 16px;
  color: #fff;
  margin: 120px auto 0;
  display: flex;
  /* margin-left: auto;
  margin-right: auto; */
}

.party-greet {
  /* color: #FFF; */
  /* font-family: Merriweather; */
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
  padding: 126px 94px 24px 126px;
}
.party-text {
  color: rgba(255, 255, 255, 0.8);
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  padding: 0 45px 0 126px;
}

.btn-join {
  height: 50px;
  width: 140px;
  padding: 8px;
  background-color: #f00;
  color: #fff;
  border: 0;
  font-size: 20px;
  margin: 48px 0 0 126px;
  cursor: pointer;
  border-radius: 16px;
}

.midnight-party img {
  padding: 68px 138px 67px 0px;
}

/* Party Venue Styles  */

.party-venue {
  width: 1300px;
  height: 400px;
  margin: 120px auto 0px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1) 0%,
    rgba(255, 0, 0, 0) 100%
  );
  text-align: center;
  border-radius: 16px;
  color: #070211;
  font-family: Inter;
  padding-top: 100px;
  line-height: 1.5;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 48px;
}

.party-venue .txt-orng {
  color: #f00;
}

/* Round Circle Image Section */
.circle-image-section {
  display: flex;
  margin: 0 120px;
  justify-content: space-between;
}

.text-title {
  color: #f00;
  font-size: 24px;
  padding-top: 25%;
}

.text-header {
  color: black;
  font-size: 48px;
  margin: 16px 0 22px 0;
}
.text-desc {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
}

.circle {
  height: 400px;
  width: 400px;
  background-color: white;
  border: 10px solid red;
  border-radius: 50%;
}

.circle img {
  height: 350px;
  width: 350px;
  border-radius: 50%;
  background-size: cover;
  padding: 25px;
}

.year {
  color: #f00;
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  margin-left: 43px;
  padding-top: 25%;
}

.circle-image img {
  height: 140px;
  width: 140px;
  padding-left: 43px;
}

.image-desc {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  margin: 16px 0 28px 43px;
}

/* Function Holidays Section */

.func-holidays {
  margin: 120px;
}

.txt-func-holi {
  text-align: center;
}
.txt-func-title {
  color: #070211;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
}

.txt-func-header {
  margin: 16px auto 28px;
  color: #070211;
  /* text-align: center; */
  /* font-family: Merriweather; */
  font-size: 72px;
  /* font-style: normal; */
  font-weight: 900;
}

.txt-func-header .bold-orng {
  color: #f00;
}

.txt-func-desc {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 68px;
}
.img-func-holi {
  position: relative;
}
.img-right {
  float: right;
  margin-right: -39px;
}
.img-overflow {
  position: absolute;
  left: -50px;
  bottom: 40px;
}

.img-bottom {
}

/* Gallery Styles */

.gallery-section {
  margin: 120px 140px 0 100px;
}

.gallery-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 16px;
}

.gallery-header {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.gallery-desc {
  color: rgba(7, 2, 17, 0.6);

  font-size: 20px;
  line-height: 32px;
  margin-bottom: 48px;
}
.gallery-images div {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px 0;
}

.gallery-images div img {
  max-width: 70%;
}

.subscribe-section {
  width: 1300px;
  height: 600px;
  margin: 120px auto;
  border-radius: 16px;
  background-color: rgba(255, 0, 0, 0.05);
  margin-top: 100px;
  /* justify-items: center; */
  text-align: center;
}

.subscribe-section img {
  height: 140px;
  width: 140px;
  padding: 80px 585px 40px;
}

.subscribe-header {
  color: #070211;
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 22px;
}

.subscribe-desc {
  color: rgba(7, 2, 17, 0.6);
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
}

.subscribe-section form {
  max-width: 800px;
  display: flex;
  margin-top: 20px;
  margin-left: 27%;
  /* font-size: 20px; */
}

.subscribe-section form input {
  width: 380px;
  height: 72px;
  border: 0;
  border-radius: 50px 0 0 50px;
  text-align: start;
  padding-left: 40px;
  color: rgba(7, 2, 17, 0.3);
}

.subscribe-section form input::placeholder {
  font-size: 20px;
}

.subscribe-section form button {
  width: 180px;
  height: 72px;
  border: 0;
  border-radius: 0 50px 50px 0;
  background-color: #f00;
  color: #ffffff;
  margin-left: 0px;
  font-size: 20px;
}
/* Footer Section */

footer {
  margin: 0;
  padding: 0;
  background-color: #070211;
  width: 90%;
  height: 350px;
  color: #fff;
  font-size: 24px;
  padding: 5%;
}

.footer-top {
  display: flex;
  /* height: 34%; */
  /* padding: 10px; */
  padding-bottom: 5%;
  justify-content: space-between;
  /* margin:1.5rem */
}

.space {
  margin-right: 1.5rem;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  /* margin: 60px 0; */
  padding: 3%;
}

.copyright {
  display: flex;
  padding: 5% 5% 0;
  justify-content: space-between;
}

.copyright button {
  background-color: #070211;
  color: red;
  font-size: 24px;
  border: 0;
  padding: auto;
  cursor: pointer;
}

.phone,
.website {
  display: flex;
}
